/* src/App.css */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  
  .app-content {
    flex: 1;
    padding: 10px;
  }

  @font-face {
    font-family: Valorant;
    src: url(./assets/font/valorant/ValorantFont.ttf);
}