/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Valorant,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Valorant;
  src: url(./assets/font/valorant/ValorantFont.ttf);
}

/* Importa os estilos base do Tailwind */
@tailwind base;

/* Importa os utilitários do Tailwind */
@tailwind components;

/* Importa os estilos personalizados ou adicionais */
@tailwind utilities;
